 .u-section-16 {
  background-image: url("images/ce5247e6856687a6778029484a8006002419efaea8f5d5b0593e2ac475c5a15e6ccf796127ba6a9059878f22ec759086a9a1bd56ab5e32e80935cf_1280.jpg");
  background-position: 50% 50%;
}

.u-section-16 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-16 .u-shape-1 {
  width: 948px;
  height: 228px;
  background-image: none;
  margin: 251px auto 0;
}

.u-section-16 .u-group-1 {
  width: 827px;
  min-height: 918px;
  background-image: none;
  margin: -419px auto 60px;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px;
}

.u-section-16 .u-text-1 {
  letter-spacing: normal;
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 22px 0 0;
}

.u-section-16 .u-form-1 {
  height: 427px;
  width: 703px;
  margin: 14px auto 0;
}

.u-section-16 .u-label-1 {
  font-weight: 700;
}

.u-section-16 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-16 .u-form-group-2 {
  margin-left: 0;
}

.u-section-16 .u-label-2 {
  font-weight: 700;
}

.u-section-16 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-16 .u-label-3 {
  font-weight: 700;
}

.u-section-16 .u-input-3 {
  font-size: 1.25rem;
}

.u-section-16 .u-form-group-4 {
  margin-left: 0;
}

.u-section-16 .u-label-4 {
  font-weight: 700;
}

.u-section-16 .u-input-4 {
  font-size: 1.25rem;
}

.u-section-16 .u-form-group-5 {
  margin-left: 0;
}

.u-section-16 .u-label-5 {
  font-weight: 700;
}

.u-section-16 .u-input-5 {
  font-size: 1.25rem;
}

.u-section-16 .u-form-group-6 {
  margin-left: 0;
}

.u-section-16 .u-label-6 {
  font-weight: 700;
}

.u-section-16 .u-input-6 {
  font-size: 1.25rem;
}

.u-section-16 .u-form-group-7 {
  margin-left: 0;
}

.u-section-16 .u-btn-1 {
  letter-spacing: 2px;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-16 .u-shape-1 {
    width: 940px;
  }

  .u-section-16 .u-form-group-2 {
    opacity: 0.2;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-16 .u-shape-1 {
    width: 720px;
  }

  .u-section-16 .u-group-1 {
    width: 720px;
  }

  .u-section-16 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-16 .u-shape-1 {
    width: 540px;
  }

  .u-section-16 .u-group-1 {
    width: 540px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-16 .u-shape-1 {
    width: 340px;
  }

  .u-section-16 .u-group-1 {
    width: 340px;
  }

  .u-section-16 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-16 .u-form-1 {
    width: 320px;
  }
}