 .u-section-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/643aab9f4a6a94220e0006ecc7b671707976b04a94213199deae0e8663c529661909992cdad2afe2f45d11b36694ef0304d7c397acf0386039d976_1280.jpg");
  background-position: 50% 50%;
}

.u-section-18 .u-sheet-1 {
  min-height: 800px;
}

.u-section-18 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0 20px;
}

.u-section-18 .u-text-2 {
  margin: 30px 97px 0 20px;
}

.u-section-18 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 40px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-18 .u-text-1 {
    margin-left: 0;
  }

  .u-section-18 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-18 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-18 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-18 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-28 .u-sheet-1 {
  min-height: 911px;
}

.u-section-28 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-28 .u-text-2 {
  font-weight: 700;
  width: 548px;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-28 .u-list-1 {
  margin-bottom: 41px;
  margin-top: 160px;
}

.u-section-28 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 570px;
  grid-gap: 40px 40px;
}

.u-section-28 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-28 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-28 .u-image-1 {
  width: 167px;
  height: 111px;
  margin: 13px auto 0;
}

.u-section-28 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 27px auto 0;
}

.u-section-28 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-28 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 30px auto 0;
}

.u-section-28 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 37px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-28 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-28 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-28 .u-image-2 {
  width: 167px;
  height: 111px;
  margin: 13px auto 0;
}

.u-section-28 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 27px auto 0;
}

.u-section-28 .u-line-2 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
  transform-origin: left center 0px;
}

.u-section-28 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 30px auto 0;
}

.u-section-28 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 37px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-28 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-28 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-28 .u-image-3 {
  width: 167px;
  height: 111px;
  margin: 13px auto 0;
}

.u-section-28 .u-text-7 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 27px auto 0;
}

.u-section-28 .u-line-3 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-28 .u-text-8 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 30px auto 0;
}

.u-section-28 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 37px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-28 .u-repeater-1 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-28 .u-sheet-1 {
    min-height: 1561px;
  }

  .u-section-28 .u-list-1 {
    margin-bottom: -210px;
  }

  .u-section-28 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 1080px;
  }
}

@media (max-width: 767px) {
  .u-section-28 .u-sheet-1 {
    min-height: 2211px;
  }

  .u-section-28 .u-text-2 {
    width: 540px;
  }

  .u-section-28 .u-list-1 {
    margin-bottom: -150px;
  }

  .u-section-28 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-sheet-1 {
    min-height: 2251px;
  }

  .u-section-28 .u-text-2 {
    width: 340px;
  }

  .u-section-28 .u-list-1 {
    margin-bottom: -24px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-3 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 32px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 570px;
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-image-1 {
  width: 167px;
  height: 111px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-3 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 47px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-3 .u-image-2 {
  width: 167px;
  height: 111px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-3 .u-line-2 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 47px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-image-3 {
  width: 167px;
  height: 111px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-3 .u-line-3 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 47px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1561px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -210px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 1080px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2211px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -150px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2251px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -24px;
    margin-top: 237px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 911px;
}

.u-section-4 .u-list-1 {
  margin: 0 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  min-height: 570px;
  grid-gap: 40px 40px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-4 .u-image-1 {
  width: 167px;
  height: 111px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-4 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 47px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-4 .u-image-2 {
  width: 167px;
  height: 111px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-4 .u-line-2 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 47px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-4 .u-image-3 {
  width: 167px;
  height: 111px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-4 .u-line-3 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 205px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 47px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1561px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    min-height: 1080px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2211px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -150px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2251px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -24px;
    margin-top: 237px;
    margin-right: initial;
    margin-left: initial;
  }
}