<br>
<br>
<br>
<section class="u-clearfix u-section-15" id="carousel_cb53">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-layout-cell u-size-32 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <h3 class="u-text u-text-default u-text-1">Online purchase</h3>
                <h4 class="u-text u-text-default u-text-2">Choose your payment card</h4>
                <div class="u-form u-form-1">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 0;" source="email" name="form">
                    <div class="u-form-group u-form-radiobutton u-form-group-1">
                      <div class="u-form-radio-button-wrapper">
                        <input type="radio" name="radiobutton" value="Mastercard" required="required">
                        <label class="u-label" for="radiobutton">Mastercard</label>
                        <br>
                        <input type="radio" name="radiobutton" value="Visa" required="required">
                        <label class="u-label" for="radiobutton">Visa</label>
                        <br>
                        <input type="radio" name="radiobutton" value="paypal" required="required">
                        <label class="u-label" for="radiobutton">paypal</label>
                        <br>
                      </div>
                    </div>
                    <div class="u-form-group u-form-name u-form-group-2">
                      <label for="name-3b35" class="u-label">Card Number</label>
                      <input type="text" placeholder="Enter your Payment card number" id="name-3b35" name="card" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                    </div>
                    
                    <div class="u-form-agree u-form-group u-form-group-4">
                      <input type="checkbox" id="agree-f183" name="agree" class="u-agree-checkbox" required="">
                      <label for="agree-f183" class="u-label">I accept the <a href="#">Terms of Service</a>
                      </label>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                      <a href="#" class="u-active-palette-1-light-2 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-12 u-btn-1">purchase</a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                    <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-radius-20 u-size-28 u-image-1" data-animation-name="fadeIn" data-animation-duration="1500" data-animation-direction="Right" data-animation-delay="500" data-image-width="1600" data-image-height="1600">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
  